alembic
aniso8601
bcrypt
blinker
click
exceptiongroup
Flask
Flask-Bcrypt
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
importlib_metadata
importlib_resources
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pluggy
psycopg2-binary
pytest
pytz
six
SQLAlchemy
tomli
typing_extensions
uWSGI
Werkzeug
zipp
virtualenv
uwsgi
